extends ../base.pug

block variables
  - var template = 'semester1'

block body
  .semester1
    .semester1__content
      .semester1__heading 
        h1 Semester 1
        h2 Development of work
      .semester1__portfolio
        .semester__notes 
          h3 Interests and Inspirations~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it 
            | over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the 
            | up more obscure Latin words looked up from a lorem ipsum passage, and going through the cites of the word in classical
  
        .semester__notes 
          h3 Research~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it 
            | over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the 
            | up more obscure Latin words looked up from a lorem ipsum passage, and going through the cites of the word in classical
        
        .semester__notes 
          h3 Directions~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it 
            | over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the 
            | up more obscure Latin words looked up from a lorem ipsum passage, and going through the cites of the word in classical
        
        .semester__notes 
          h3 Decisions~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it 
            | over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the 
            | up more obscure Latin words looked up from a lorem ipsum passage, and going through the cites of the word in classical
        
        .semester__notes 
          h3 Reflections~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it 
            | over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the 
            | up more obscure Latin words looked up from a lorem ipsum passage, and going through the cites of the word in classical

        .semester__notes
          h3 Images~
          h3 Outputs~
      br
      br
      .pagination
        .page__link 
          a(href="/aam210")  back 
        .page__link 
          a(href="/aam210/semester2") Semester 2
      br
      br
      br
      br
      br
    +footer  

    
        