extends ../base.pug

block variables
  - var template = 'semester2'

block body
  .semester2
    .semester2__content
      .semester2__heading 
        h1 Semester 2
        h2 Work In Progress
      .semester2__portfolio 
      .pagination
        .page__link 
            a(href='/aam210') back 
        .page__link 
            a(href='/aam210/semester1') Semester 1
    +footer  