.about {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.about__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.about__heading {
  @extend %general__heading;
  h1 {
    color: $color-primary;
  }
}

.about__section:last-child{
  color: $color-secondary;
  margin-bottom: 10rem;
}