.blog {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
  background-color: aliceblue;
}

.blog__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.blog__heading {
  @extend %general__heading;

  h1 {
    color: $color-primary;
  }
}

.blog__section{

  margin-bottom: 15rem;

  h3{
    color: $color-secondary;
  }

  p { 
    line-height: 2;
    margin-bottom: 6rem;
    @include media("<phone") {
      margin-bottom: 3rem;
    }
  }

  @include media("<phone") {
    margin-bottom: 4rem;
  }
}

.blog__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5rem;
  margin: 4rem auto;

  @include media("<phone") {
    gap: 1rem;
  }
}

.blog__image {
  img {
    width: 1000px;
    object-fit: cover;

    @include media("<phone") {
      width: 500px;
    }
  }
}