.semester1,
.semester2 {
    @extend %page;
    word-break: break-all;

    &--active {
        @extend %page--active;
    }
}



.semester1__content,
.semester2__content {
    @extend %cover;
    @extend %content;
    overflow: auto;
}

.semester1__heading,
.semester2__heading {
    @extend %general__heading;

    h1 {
        color: $color-primary;
    }

    h2 {
        color: $color-secondary;
    }
}


.semester1__portfolio,
.semester2__portfolio,
.about__sections,
.blog__sections{
    display: flex;
    flex-direction: column;
    gap: 20rem;

    @include media("<phone") {
        gap: 5rem;
    }
}

.semester__notes,
.about__section,
.blog__section{
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 15rem;


    @include media("<phone") {
        max-width: 1000px;
        margin: 0 2rem;
    }
}

h3 {
    font-family: $font-boismen-regular;
    font-size: 15rem;
    font-weight: 500;
    color: $color-primary;

    @include media("<phone") {
        font-size: 3.5rem;
    }
}

h4 {
    font-size: 5rem;
    color: $color-secondary;
    @include media("<phone") {
        font-size: 1.5rem;
    }
}

p {
    font-family: $font-manrope-regular;
    font-size: 3.5rem;
    word-break: keep-all;
    color: $color-paragraph;
    text-align: justify;

    @include media("<phone") {
        font-size: 1.2rem;
    }
}

.readings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5rem;

    @include media("<phone") {
        gap: 1rem;
    }
}


.reading {
    img {
        width: 150px;
        object-fit: cover;

        @include media("<phone") {
            width: 75px;
        }
    }

}

.pagination2{
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8rem auto;
  }
  