%text-waicena{
  font-family: $font-waicena;
  // font-size: 15rem;
}

%text-boismen-regular{
  font-family: $font-boismen-regular;
}

%text-boismen-light{
  font-family: $font-boismen-light;
}

%text-manrope-regular{
  font-family: $font-manrope-regular;
}
