%text-waicena{
  font-family: $font-waicena;
  font-size: 18rem;
}

%text-boismen-regular{
  font-family: $font-boismen-regular;
  font-size: 12rem;
}

%text-boismen-light{
  font-family: $font-boismen-light;
  font-size: 12rem;
}

%text-manrope-regular{
  font-family: $font-manrope-regular;
}
