extends ../base.pug

block variables
  - var template = 'semester2'

block body
  .semester2
    .semester2__content
      .semester2__heading 
        h1 Semester 2
        h2 Work In Progress
      .semester2__portfolio 
        .semester__notes 
          h3 Areas of Investigation~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words looked up from a Lorem Ipsum passage, and going through the cites of the word in classical
        .semester__notes 
          h3 Reflection on module~
          p Contrary to popular belief, Lorem Ipsum is not simply random has roots in a piece of classical Latin literature from 45 BC,it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words looked up from a Lorem Ipsum passage, and going through the cites of the word in classical
        .semester__notes 
          h3 Reading lists~
          .readings 
            .reading 
              img(src="/images/1.jpg" alt="")
            .reading 
              img(src="/images/2.jpg" alt="")
            .reading 
              img(src="/images/3.jpg" alt="")
            .reading 
              img(src="/images/4.jpg" alt="")
            .reading 
              img(src="/images/5.jpg" alt="")
            .reading 
              img(src="/images/6.jpg" alt="")
            .reading 
              img(src="/images/7.jpg" alt="")
            .reading 
              img(src="/images/8.jpg" alt="")
            .reading 
              img(src="/images/9.jpg" alt="")
            .reading 
              img(src="/images/10.jpg" alt="")
      .pagination
        .page__link 
            a(href='/aam203') back 
        .page__link 
            a(href='/aam203/semester1') Semester 1
    +footer  