$color-white: #FFFCEC;
$color-primary: #853B2C;
$color-secondary: #23423D;
$color-footer: #FFF8DB;
$color-paragraph: #282828;


$font-waicena: 'Waicena', sans-serif;
$font-boismen-regular: 'Boismen Regular', sans-serif;
$font-boismen-light: 'Boismen Light', sans-serif;
$font-manrope-regular: 'manrope Regular', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'navigation',
  'content',
);