extends ../base.pug

block variables
    - var template = 'aam210'

block body
    .aam210
        .aam210__content
            .home__heading 
                h1 AAM210
                h2 Professional development networks & C.E.
            .home__modules
                .module
                    img.module__link__img(src='/images/3.png')
                    a.module__link(href='/aam210/semester1') SEMESTER 1
                
                .divider

                .module
                    img.module__link__img(src='/images/4.png')
                    a.module__link(href='/aam210/semester2')  SEMESTER 2
                
                .divider

            .pagination
                .page__link 
                    a(href='/') back 
                .page__link 
                    a(href='/aam201') AAM201
        +footer                     


