extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__content
      .about__heading 
        h1 About me
      .about__sections
        .about__section 
          h3 Hi, Im Christy
          p Christy Shafack is a communication designer and creative developer, specialized brand identity design and modern web development.
          br
          p Inspired by communities and ideas, she strives to create exceptional brand identities for clients by guiding them on a journey to discover, develop and share their brand stories in remarkable ways.
          br
          p She is currently pursuing an MA in Communication Design at Gray's School of Arts, Robert Gordon University (RGU), and is passionate about solving problems affecting the successes of different societies and communities.
        .about__section 
          h3 Education
          p Master of Arts and Design, Communication Design ~ 2023 – Present.
          br
          p B. Eng. Computer Engineering, (Network Engineering) ~ 2014 – 2018
        .about__section 
          h3 Proposal
          p Having spent most of my career behind the digital screen, I intend to use the master's course to interact more with people. Inspired by people and human behaviour, I will be designing for communities. 
            | My research and practice-based strategies focus on the student union and international students at RGU. Through preliminary research and investigations, I intend to draw on the experiences and challenges faced by the union representatives and intentional students to discover and define specific problems.
          br
          p The outcome of my project will be guided by preliminary research discoveries, leading to the creation and implementation of a suitable solution that tackles pertinent issues faced by international students. 
            |I will explore different strategies and test new ideas guided by critical thinking and ethical considerations. Later iterations will consider creating a brand identity and an exhibition for international students.
            |Through personal and client projects, I acquired a wide range of skills but critical thinking was not one of them. Having some background knowledge about critical thinking now confirms my doubts and where my design solutions were lacking. I wish I had at least some knowledge about criticality and critical thinking, which would have impacted my design practices positively in terms of ideation and the effectiveness of my strategies. This cognitive ability would have enlightened areas where project outcomes were lacking and thematic issues were not taken into consideration.
    +footer 