extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__content
      .about__heading 
        h1 About me
      .about__sections
        .about__section 
          h3 Hi, Im Christy
          p Christy Shafack is a communication designer and creative developer, specialized brand identity design and modern web development.

          p Inspired by communities and ideas, she strives to create exceptional brand identities for clients by guiding them on a journey to discover, develop and share their brand stories in remarkable ways.

          p She is currently pursuing an MA in Communication Design at Gray's School of Arts, Robert Gordon University (RGU), and is passionate about solving problems affecting the successes of different societies and communities.

        .about__section 
          h3 Education

          p Master of Arts and Design, Communication Design ~ 2023 – Present.

          p B. Eng. Computer Engineering, (Network Engineering) ~ 2014 – 2018

        .about__section 
          h3 Proposal
          p Having spent most of my career behind the digital screen, I intend to use the master's course to interact more with people. Inspired by people and human behaviour, I will be designing for communities. 
            | My research and practice-based strategies focus on the student union and international students at RGU. Through preliminary research and investigations, I intend to draw on the experiences and challenges faced by the union representatives and intentional students to discover and define specific problems.
    +footer 