extends ../base.pug

block variables
    - var template = 'blog'

block body
    .blog
        .blog__content
            .blog__heading 
                h1 Reflective blog
            .blog__sections
                .blog__section
                    h3 New beginnings ~
                    //- h4 ( 29th Sept. 2023 )
                    .blog__images 
                        .blog__image
                            img(src="/images/b1.png" alt="")
                    p The decision to leave home for a different country has me gazing towards the uncertainties and challenges I will experience. Filled with fear and excitement, I hope to get used to the workings of my new environment and settle.As school begins, fear and anxiety seem to creep in as I try to figure out the topic and outcome of my project while catching up on other modules. In search of inspiration and carrying out preliminary research, I stumble upon ideas, quickly jotting them down for further investigation and critical thinking.

                    p I intend to create a combination of physical and digital work that fits harmoniously. I believe that it will be good to use both as primary ways to exhibit my work. At this point, I am uncertain about what I would like to work on concerning my project. Having spent most of my career behind screens, I intend to use this opportunity to engage more with people.
                
                .blog__section
                    h3 Looking back ~
                    p I feel like I am running around in a circle and not getting focused on a topic. I started reading a book on branding based on radical differentiation. I could use this idea to build a personal framework for my creative process and test the framework by creating a brand identity.Feeling homesick already, I took some time to look at my past works. I stumbled on a project I had suspended because of other responsibilities. Inspired by the ongoing anglophone crisis in my country, I wanted to contribute by proposing a solution using conflict resolution. I wonder if I can find a project that will enable work with a community.
                    .blog__images 
                        .blog__image
                            img(src="/images/b2.png" alt="")

                .blog__section    
                    h3 First meetings ~
                    p Pursuing the idea inspired by the concept of radical differentiation, I handed in my first project proposal and scheduled a meeting with Iain, my specialist tutor.The meeting was insightful and full of suggestions about my project topic:how can creatives reinvent themselves to produce unique effective and efficient design solutions for ever-growing needs and for long-term careers in a world of clutter? It opened up a list questions, which made me realize that much thought had not been invested into the topic.I had to consider what I was trying to solve. Iain suggested that I consider designers and non-designers and what will be the best way to communicate the real value of creatives
                    .blog__images 
                        .blog__image
                            img(src="/images/b3.png" alt="")

                .blog__section 
                    h3 Back to drawing table ~
                    p Further reflections on the suggestions from the first meeting dawned on me the project's complexity in research and data gathering. Also, I had doubts about designers being confined to using a framework, as creatives tend to be flexible in their thought processes and practice. During the week, I had tutorial sessions with Jon and Charlie. They encouraged a wide range of ideas and possibilities I could consider, which guided my research. Charlie suggested that I map out my thoughts as a graphic designer. Carrying out this process revealed new insights about design which seemed oblivious to me. Jon shared an interesting article on critical design which I feel is an area of interest which has led me to change the course of my project, leaning towards designing for communities.
                
                .blog__section 
                    h3 Critical design ~
                    p Critical design presents design as a discipline capable of doing social good. It positions designers in a realm where they can be agents of social change(problem framers).

                    p Knowledge of this partially answers a question I asked after an experience with a difficult client and myself: What more can designers do? And who is asking the same question? Further investigations led me to the works of designers who inspired social change:
                        br
                        | 1. Candy Chang - The Chalk Wall
                        br
                        | 2. Sam Barclays - A book for dyslexic children
                        br
                        | 3. Justin Ahrens - Designer Humanitarian
                        br
                        | 4. Brian Singer - Home Street Home
                        br
                        | 5. Emily Pilloton & Matthew Miller - Design for social impact

                    p How they approached their work made me reflect a lot on my practice.
                        br
                        | How will my intended audience interact with my work?
                        br
                        | What emotions will I evoke through my design pieces?
                        br
                        | What reactions will I expect?

                    p I remind myself that it's not about me but the audience as the success of my work will be determined by them.

                .blog__section 
                    h3 The Power of design ~
                    p Based on Critical Design I draw from the statements of other designers with similar beliefs and who have demonstrated the Power of Design through their work.

                    p Aalto Arts: " Our power lies in getting people around the table and helping them realize that what they work on individually can be connected. "

                    p Jain: " Designers have the power to understand individual minds and create interesting communication by shaping their crazy imagination with the latter. "

                    p Mudassar Khan: " Design can influence our thoughts, shape our beliefs and even determine our purchasing decisions. Designers use their creativity to create campaigns that raise awareness and inspire change toward social issues such as human rights, environmentalism and political activism. With their designs, they can bring attention to these issues, mobilize people to take action and make the world a better place. "

                    p After reflecting on these responses, I drew the following conclusions;
                        br
                        | The power of design
                        br
                        |1. Helps people see new perspectives.
                        br
                        | 2. Can help in understanding different minds and trigger conversations.
                        br
                        | 3. Can drive long-term growth and improve efficiency.
                        br
                        | 4. Can change perceptions and convey ideas quickly.
                        br
                        | 5. Can connect people, change how we feel and help in communication.
                        br
                        | 6. Can galvanize people around a shared vision.

                .blog__section 
                    h3 Second meeting ~
                    p The second meeting with Iain was even more exciting. I prepared questions in advance, which guided the tutorial session. Iain talked about his professional experience and personal opinions as a designer. I mentioned taking a different direction with my project, and he suggested what approach to take. Unfortunately, I could not attend the session with Charlie because I was ill. I look forward to catching up with him.I intend to visit the student union for introductory conversations.

                .blog__section 
                    h3 Student Union Presidents ~
        +footer 


