extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .home__heading 
        h1 CHRISTY SHAFACK
        h2 MA. Communication Design
      .home__modules
        .module
          img.module__link__img(src='/images/1.png')
          a.module__link(href='/aam201') AAM201
          
        .divider
        .module
          img.module__link__img(src='/images/2.png')
          a.module__link(href='/aam203') AAM203
          
        .divider
        .module
          img.module__link__img(src='/images/3.png')
          a.module__link(href='/aam210') AAM210

        .divider      
    +footer 
 

