extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .home__heading 
      //-   h1 CHRISTY SHAFACK
      //-   h2 MA Communication Design
      //- .home__module__links 
      //-   .module__link 
      //-     a(href='/aam201') AAM201
      //-   .module__link 
      //-     a(href='/aam203') AAM203 
      //-   .module__link 
      //-     a(href='/aam210') AAM210
      //- +footer 
