.about__content, .blogs__content, .darkroom__content, .projects__content, .home__content, .navigation {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.dg.ac {
  z-index: 99999 !important;
}

@font-face {
  font-family: "Waicena";
  src: url("../fonts/waicena.woff2") format("woff2"), url("../fonts/waicena.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Boismen Regular";
  src: url("../fonts/boismen-regular.woff2") format("woff2"), url("../fonts/boismen-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Boismen Light";
  src: url("../fonts/boismen-light.woff2") format("woff2"), url("../fonts/boismen-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/manrope-regular.woff2") format("woff2"), url("../fonts/manrope-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  -webkit-touch-callout: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  background: #FFFCEC;
  box-sizing: border-box;
  color: #282828;
  font-size: 0.5208333333vw;
  height: 100%;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
@media (max-width: 768px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font: 1.4rem/1.5 "manrope Regular", sans-serif;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a {
  color: inherit;
  outline: none;
  pointer-events: auto;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: none;
  color: inherit;
  font: inherit;
  outline: none;
  pointer-events: auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  pointer-events: auto;
}

ol, ul {
  list-style: none;
}

.content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-animation=paragraph] span {
  display: inline-block;
  overflow: hidden;
  vertical-align: center;
}

.secondary-menu .menu-container .wrapper:nth-child(1) a, .secondary-menu .menu-container .wrapper:nth-child(2) a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.secondary-menu .menu-container .wrapper:nth-child(1) a:after, .secondary-menu .menu-container .wrapper:nth-child(2) a:after {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}

.secondary-menu .menu-container .wrapper:nth-child(1) a:hover:after, .secondary-menu .menu-container .wrapper:nth-child(1) a:focus:after, .secondary-menu .menu-container .wrapper:nth-child(2) a:after {
  transform: scaleX(1);
  transform-origin: left center;
}

.secondary-menu .menu-container .wrapper:nth-child(1) a:after, .secondary-menu .menu-container .wrapper:nth-child(2) a:hover:after, .secondary-menu .menu-container .wrapper:nth-child(2) a:focus:after {
  transform: scaleX(0);
  transform-origin: right center;
}

.secondary-menu .menu-container .wrapper:nth-child(2) a {
  display: inline-block;
  line-height: 1.05;
}
.secondary-menu .menu-container .wrapper:nth-child(1) a {
  display: inline-block;
  line-height: 1.05;
}
.about, .blogs, .darkroom, .projects, .home {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease, visibility 1s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.about--active, .blogs--active, .darkroom--active, .projects--active, .home--active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.about__content, .blogs__content, .darkroom__content, .projects__content, .home__content {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

noscript {
  align-items: center;
  background: #282828;
  color: #FFFCEC;
  cursor: default;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.1;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 4rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4;
}

.navigation {
  pointer-events: none;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

svg path {
  fill: #23423D;
}

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  #toggle-btn {
    margin: 1em;
  }
}

.btn-outline {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #23423D;
}

.btn-outline-1 {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57%/51% 39% 61% 49%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
#hamburger {
  position: relative;
  height: 20px;
  width: 20px;
  z-index: 2;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.5px;
  background: #23423D;
  transition: transform 0.25s;
}

#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: " ";
  width: 18px;
  height: 1.5px;
  background: #23423D;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}

#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

/* menu items */
.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu > div {
  height: 100%;
  display: flex;
}

/* common styles for <a> */
.menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  text-decoration: none;
  color: #FFFCEC;
  transition: letter-spacing 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Waicena", sans-serif;
}

.menu-item {
  position: relative;
}

.menu-item a:hover {
  color: #F0BF0E;
  letter-spacing: 0.05em;
}

.menu-item:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 150%;
  height: 200%;
  margin: 0 auto;
}

.menu-container {
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFCEC;
}
@media (max-width: 768px) {
  .menu-container {
    height: 40vh;
  }
}

/* primary nav */
.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23423D;
}
@media (max-width: 768px) {
  .primary-menu {
    flex: 1;
  }
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .primary-menu a {
    font-size: 67.5px;
  }
}

/* secondary nav */
.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23423D;
}

.secondary-menu .menu-item a {
  font-family: "Boismen Light", sans-serif;
}

.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}
@media (max-width: 768px) {
  .secondary-menu .menu-container .wrapper:nth-child(1) {
    align-items: center;
  }
}
.secondary-menu .menu-container .wrapper:nth-child(1) a {
  font-size: 15rem;
}
@media (max-width: 768px) {
  .secondary-menu .menu-container .wrapper:nth-child(1) a {
    font-size: 4rem;
  }
}

.secondary-menu .menu-container .wrapper:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .secondary-menu .menu-container .wrapper:nth-child(2) {
    flex-direction: column;
  }
}
.secondary-menu .menu-container .wrapper:nth-child(2) a {
  font-size: 6rem;
}
@media (max-width: 768px) {
  .secondary-menu .menu-container .wrapper:nth-child(2) a {
    font-size: 3rem;
  }
}

.home {
  word-break: break-all;
}
.home__content {
  overflow: auto;
}

.projects {
  word-break: break-all;
}
.projects__content {
  overflow: auto;
}

.darkroom {
  word-break: break-all;
}
.darkroom__content {
  overflow: auto;
}

.blogs {
  word-break: break-all;
}
.blogs__content {
  overflow: auto;
}

.about {
  word-break: break-all;
}
.about__content {
  overflow: auto;
}/*# sourceMappingURL=index.css.map */